/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map-container {
    height: 100%;
    display: none;
}

.noPadding {
    padding: 0 !important;
}

.container-fluid {
    background-color: #EF915D;
    height: 100vh;
}

.yeah {
    background: #5DBCD2;
    color: white;
    height: 60%;
    text-align: center;
    font: 30px 'Montserrat';
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
}

.header {
    height: 80px;
    padding: 20px;
    background: #5DBCD2;
}

.btn-primary {
    height: 40px;
    background-color: #EF915D !important;
    border-color: #EF915D !important;
}

#map {
    height: 90%;
    padding: 20px;
}

.low {
    color: white;
    height: 40%;
    text-align: center;
    font: 30px 'Montserrat';
}

p {
    font-size: 1.5rem;
    height: 100px;
    padding-top: 100px;
}

h1 {
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 3rem !important;
}

h2 {
    padding-top: 30px;
    padding-bottom: 25px;
}

.fa-angle-double-up {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 0.5s infinite  alternate;
    padding-top: 150px;
    font-size: 70px;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.fa-angle-down {
    font-size: 70px;
}